.ellipsis{
    text-overflow: ellipsis!important;
    overflow: hidden!important;
    /* width: 200px!important;
    height: 50px!important;
    position: relative!important;
    margin-bottom: 20px!important; */
    -webkit-line-clamp: 2!important;
    -webkit-box-orient: vertical!important;
    display: -webkit-box!important;
    word-break: break-word!important;
}

